# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
#.env

# Flask instance folder
instance/
*.log

# Node / React
frontend/node_modules/
frontend/.env
frontend/build/

# IDE/editor stuff
.vscode/
.idea/
*.swp
.DS_Store

# Test cache
.pytest_cache/
.coverage
htmlcov/
